.profile{
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 20px;
  display: flex;
}

.profile-image {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 340px;

  img{
    width: 100%;
    height: 284px;
    display: block;
    background-color: blue;
  }

  button{
    margin-top: 17px;
  }
}

.profile-content{
  padding: 23px;
  width: calc(100% - 340px);
}

.info-count{
  border: solid 1px #D9D9D9;
  background-color: #FFF;
  border-radius: 4px;
  padding: 2px 14px;
  margin-right: 8px;
  font-size: 12px;
  line-height: 20px;
  color: #595959;
}

.profile-informations{
  border: solid 1px #D9D9D9;
  background-color: #FFF;
  border-radius: 4px;
  margin-top: 12px;
  padding: 14px;

  h2{
    color: #1890FF;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 19px;
  }

  .information-item{
    border: solid 1px #D9D9D9;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    color: #737373;

    strong{
      font-weight: 700;
    }
  }
}