.main-header{
  background-color: #1890FF;
  padding-left: 41px;
  height: 62px;
  width: 100vw;
  display: flex;
  align-items: center;
}

.main-header-title{
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}